@import url("/web/css/profile.css");
@import url("documents.css");
/*
@import url(http://reset5.googlecode.com/hg/reset.min.css);
@import url(http://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);
*/
/*
	import specific styles for easier handeling
*/
/*

anchor styles

*/
a.button {
  background: #E8E8E9;
  border: 1px solid #aeaeaf;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  padding: 5px;
  font-weight: normal;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa; }
  a.button:hover {
    color: #9f4b0a;
    border-color: #838383; }
  a.button:active {
    color: #333;
    border-color: #838383;
    -moz-box-shadow: 0 1px 1px #aaaaaa;
    -webkit-box-shadow: 0 1px 1px #aaaaaa;
    box-shadow: 0 1px 1px #aaaaaa; }

html, body {
  height: 100%;
  background-color: #e8e8e9;
  text-align: center;
  font: 0.95em'Asap'; }

/* Header */
#main-header {
  height: 118px;
  background-color: #f4f4f4;
  -moz-box-shadow: 0px 1px 3px #aaaaaa;
  -webkit-box-shadow: 0px 1px 3px #aaaaaa;
  box-shadow: 0px 1px 3px #aaaaaa;
  color: #666; }

#main-header h1 {
  padding-top: 35px;
  font-size: 1.4em; }

#main-header h2 {
  font-size: 0.9em; }

#main-header-logo {
  padding-top: 10px;
  margin-right: 25px;
  float: left; }

.main-header-language{
  float: right;
  padding-top: 10px;
}

#header-flag-img{
  vertical-align: baseline;
  padding-left: 10px;
}

a.main-header-language{
  color: #666;
  text-decoration: none;
}

a.main-header-language:hover{
  color: #f57d20;
}

/* Footer */
#main-footer {
  border-top: 1px solid #aaaaaa;
  height: 120px;
  margin-top: 30px;
  background-color: #e8e8e9;/*#f4f4f4;*/
  color: #666; }

#main-footer h1 {
  padding: 12px 0px 12px 0px;
  font-size: 0.9em;
}

#main-footer a {
  color: #666;
  text-decoration:none;
  line-height: 160%;
}

#main-footer a:hover {
  color: #f57d20; }

#main-footer .left{
  padding-top: 12px;
  float: left;
  width:50%;
}

#main-footer .left .block{
  float: left;
  width:50%;
  display:block;
}

#main-footer .right{
  padding-top: 28px;
  float: right;
  width:50%;
}

#main-footer .right .facebook{
  background: #dcdcdc url('../img/facebook.png') center center no-repeat;
  display: block;
  margin-right: 15px;
  float: right;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#main-footer .right .twitter{
  background: #dcdcdc url('../img/twitter.png') center center no-repeat;
  display: block;
  margin-right: 15px;
  float: right;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#main-footer .right .linkedin{
  background: #dcdcdc url('../img/linkedin.png') center center no-repeat;
  display: block;
  margin-right: 15px;
  float: right;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#main-footer .right .facebook:hover {
  background: #c0c0c0 url('../img/facebook.png') center center no-repeat;
}

#main-footer .right .twitter:hover {
  background: #c0c0c0 url('../img/twitter.png') center center no-repeat;
}

#main-footer .right .linkedin:hover {
  background: #c0c0c0 url('../img/linkedin.png') center center no-repeat;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height + margin*/
  margin-bottom: -150px; 
}

.page-wrap:after {
  margin-top: 30px;
  height: 120px;
  content: "";
  display: block;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 1000px;
  text-align: left; }

#main-navigation {
  padding: 20px 10px 20px 10px; }

#main-navigation .right{
  float: right;
  padding-right: 0;
}

#main-navigation ul li {
  float: left;
  padding-right: 30px; }

#main-navigation ul li a {
  color: #333;
  text-decoration: none; }

#main-navigation ul li a:hover {
  color: #f57d20; }

#main-left {
  width: 750px;
  margin-right: 14px;
  float: left; }

#main-right {
  width: 230px;
  float: left; }

.main-box {
  display: block;
  background-color: #f4f4f4;
  -moz-box-shadow: 0px 1px 3px #aaaaaa;
  -webkit-box-shadow: 0px 1px 3px #aaaaaa;
  box-shadow: 0px 1px 3px #aaaaaa;
  margin-bottom: 15px;
  position: relative;
  border-top: 1px solid #dddddd; }

a.main-box {
  text-decoration: none; }

.main-box a, a {
  color: #f57d20; }

.main-box h2 {
  padding: 12px;
  font-size: 1.3em;
  color: #111; }

.main-box h3 {
  margin: 12px 12px 6px;
  font-size: 1.2em;
  color: #111;
  border-bottom: 1px solid #dddddd; }

.main-box.news {
  background-color: #f4f4f4;
  color: #111; }

a.main-box.news:hover {
  background-color: #fafafa; }

a.main-box.news.red:hover {
  background-color: #df6969; }

.main-box.featured h2 {
  color: #f57d20; }

.main-box.featured {
  background-color: #111;
  color: #f4f4f4; }

#main-left .main-box .oneThird {
  float: left;
  width: 250px; }

#main-left .main-box .twoThirds {
  float: left;
  width: 500px; }

#main-left .main-box .oneHalf {
  float: left;
  width: 375px; }

.main-box p, .main-box ul, .main-box table {
  font-size: 0.95em;
  padding: 0 12px 12px 12px;
  line-height: 1.4em;
  list-style-type: none; }

#main-right .main-box ul {
  padding: 0; }

.main-box p.notice {
  background: #FFFFDF;
  border: 1px solid #a6a625;
  padding: 12px;
  margin: 12px; }

.main-box p.notice.red {
  background: #dc6060;
  color: #fff;
  border: 1px solid #8f1f1f;
  padding: 12px;
  margin: 12px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.width-50 {
  width: 50%; }

.main-box .row {
  margin: 0;
  padding: 0; }
  .main-box .row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .main-box .row .col-2 {
    width: 363px;
    padding: 0;
    float: left; }
  .main-box .row .col-3 {
    width: 238px;
    padding: 0;
    float: left; }
  .main-box .row .col-4 {
    width: 174px;
    padding: 0;
    float: left; }
  .main-box .row .col-3-4 {
    width: 544px;
    padding: 0;
    float: left; }

.filter-bar {
  font-size: 0.95em;
  margin-bottom: 15px; }

.filter-bar h2 {
  float: left;
  padding: 2px;
  font-weight: normal; }

.filter-bar ul {
  float: left;
  list-style: none; }

.filter-bar ul li {
  float: left;
  padding-left: 8px; }

.filter-bar ul li a {
  background-color: #ccc;
  padding: 2px 5px;
  border-radius: 30px; }

.filter-bar p {
  float: left; }

.filter-bar a {
  float: left; }

ul.box-list {
  list-style: none;
  font-size: 0.90em; }

ul.box-list li {
  padding: 10px;
  color: #666; }

ul.box-list li a {
  display: block;
  padding: 10px;
  margin: -10px;
  color: #666;
  text-decoration: none; }

ul.box-list li a:hover {
  color: #f57d20; }

ul.box-list li span {
  float: right; }

ul.box-list li:nth-child(odd) {
  background-color: #eee; }

ul.box-list li:nth-child(odd):hover {
  background-color: #f0f0f0; }

ul.box-list li:nth-child(even):hover {
  background-color: #f7f7f7; }

.main-box .red {
  background-color: #dc6060;
  color: #fff; }

span.smallnotice {
  text-transform: uppercase;
  font-size: 80%;
  padding: 2px;
  border-radius: 2px;
  -mos-border-radius: 2px;
  -webkit-border-radius: 2px; }

/**
 *	table styles
 */
.main-box table {
  width: 726px;
  /* ursäkta hårdkodningen */
  margin: 0 12px 12px; }

td, th {
  padding: 5px; }

table tbody tr:nth-child(odd) {
  background-color: #eee; }

table tbody tr:nth-child(odd):hover {
  background-color: #f0f0f0; }

table tbody tr:nth-child(even):hover {
  background-color: #f7f7f7; }

tr i.-icon-pen {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  opacity: 0; }

tr:hover i.-icon-pen {
  opacity: 1; }

tr i.-icon-adduser {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  opacity: 0; }

tr:hover i.-icon-adduser {
  opacity: 1; }


/**
 *	forum styles
 */
ul.breadcrumbs {
  list-style: none;
  float: right;
  padding: 0;
  margin-top: 12px;
  padding-right: 12px; }

ul.breadcrumbs li {
  float: left;
  margin: 0 2px 7px 2px; }

ul.breadcrumbs li a {
  text-decoration: none;
  color: #ccc; }

ul.breadcrumbs li a:hover {
  color: #f57d20; }

ul.breadcrumbs li .spacer {
  color: #f57d20; }

ul.forum, ul.topics {
  list-style: none;
  padding: 0; }

ul.forum a {
  display: block;
  background-color: #333;
  text-decoration: none;
  padding: 12px;
  font-size: 12pt; }

ul.forum a:hover {
  background-color: #373737; }

ul.forum ul.forum a {
  padding: 10px;
  background: transparent;
  color: #333;
  font-size: 1.1em;
  font-weight: normal;
  border-bottom: 1px solid #dddddd; }

ul.forum ul.forum li:nth-child(odd) a {
  background-color: #eee; }

ul.forum ul.forum li a:hover {
  background-color: #f7f7f7;
  color: #f57d20; }

ul.forum ul.forum li:nth-child(odd) a:hover {
  background-color: #f1f1f1; }

ul.topics a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: transparent;
  color: #333;
  font-size: 1.0em;
  font-weight: normal;
  border-bottom: 1px solid #dddddd; }

ul.topics li:nth-child(odd) a {
  background-color: #eee; }

ul.topics li a:hover {
  background-color: #f7f7f7;
  color: #f57d20; }

ul.topics li:nth-child(odd) a:hover {
  background-color: #f1f1f1; }

/**
 *	edit news/post styles
 */
.main-box form {
  padding: 0px 0px 12px 12px; }

label {
  display: inline-block;
  color: #555;
  font-size: 1em;
  margin: 5px 0 3px 0; }

input[type="text"], input[type="password"] {
  display: block; }

form input[type="submit"] {
  /*display: block;
  position: relative;
  top: 5px;
  min-width: 50px;*/
  background: #E8E8E9;
  border: 1px solid #aeaeaf;
  border-radius: 3px;
  -mos-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  margin: 5px 0 0;
  padding: 5px;
  font-weight: normal;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa; }

form input[type="submit"].disabled {
  -moz-box-shadow: 0 #aaaaaa;
  -webkit-box-shadow: 0 #aaaaaa;
  box-shadow: 0 #aaaaaa; }

form input[type="submit"]:hover {
  color: #9f4b0a;
  border-color: #838383; }

form input[type="submit"]:active {
  color: #333;
  border-color: #838383;
  -moz-box-shadow: 0 1px 1px #aaaaaa;
  -webkit-box-shadow: 0 1px 1px #aaaaaa;
  box-shadow: 0 1px 1px #aaaaaa; }

/*
	administrate news
*/
form h2 {
  background: #f7f7f7;
  border-bottom: 1px solid #dddddd; }

form .main-box {
  padding-bottom: 12px; }

form .main-box label {
  margin: 5px 0 3px 12px; }

form .main-box input {
  padding-left: 5px;
  margin-left: 12px; }

form .main-box textarea {
  padding: 5px;
  margin-left: 12px;
  clear: left; }

form .main-box div * {
  margin-left: 0;
  padding-left: 0; }

form .main-box div input[type="submit"] {
  padding: 5px; }

form .main-box div {
  margin: 5px 0 3px 12px;
  color: #777;
  font-size: 1em; }

.news_flag {
  position: absolute;
  right: 0;
  bottom: 0; }

.main-box button {
  /*display: block;
  position: relative;
  top: 5px;
  min-width: 50px;*/
  background: #E8E8E9;
  border: 1px solid #aeaeaf;
  border-radius: 3px;
  -mos-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  margin: 5px 0 0;
  padding: 5px;
  font-weight: normal;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa; }

.main-box button.disabled {
  -moz-box-shadow: 0 #aaaaaa;
  -webkit-box-shadow: 0 #aaaaaa;
  box-shadow: 0 #aaaaaa; }

.main-box button:hover {
  color: #9f4b0a;
  border-color: #838383; }

.main-box button:active {
  color: #333;
  border-color: #838383;
  -moz-box-shadow: 0 1px 1px #aaaaaa;
  -webkit-box-shadow: 0 1px 1px #aaaaaa;
  box-shadow: 0 1px 1px #aaaaaa; }

select.document {
  outline: none;
  -webkit-appearance: none;
  font: 1.0em'Asap';
  font-weight: bold;
  color: #111;
  cursor: pointer;
  border: solid 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
  margin-left: -2px;
  margin-bottom: 0px;
  min-width: 180px;
  box-sizing: border-box; 
  background: #f4f4f4 url('../img/icons/dropdown_triangle.png') no-repeat scroll right center;
}
select.document:hover, select.document:active {
  /*color: #f57d20;*/ /*Fult när ikonen inte ändrar färg*/
  background-color: #fafafa;
  border-color: #c0c0c0;
}

.dropzone-outer{
  padding-bottom: 200px;
  position: relative;
}
.dropzone-outer button{
  margin-left: 15px;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0;
}

.dropzone-normal-form{
  position: absolute;
  bottom: -150px;
}


/*
	icons
*/
i.-icon-pen {
  background: url("../img/icons/pencil32.png");
  background-size: cover;
  display: block;
}
i.-icon-adduser {
  background: url("../img/icons/userplus32.png");
  background-size: cover;
  display: block;
}
i.-icon-document {
  float: left;
  width: 32px;
  height: 32px;
  background: url("../img/icons/linedpaper32.png");
  background-size: cover;
  display: block; 
}


/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
