/**
 * Welcome to the layout of medieteknik.nu
 *
 * This file is written in Less. It's a nice way to extend the old and boring techniques
 * vanilla CSS provides. Please read more about less att lesscss.org.
 *
 */
/**********************************
Table of contents

1. Variables
2. Mixins
3. Font faces
4. Typography
5. General layout
6. Responsive fixes
7. Anchors and such
8. More specific stuff
9. Misc things
*/
/**********************************
 * 1. VARIABLES
 *********************************/
/**********************************
 * 2. MIXINS
 *********************************/
/**********************************
 * 3. FONT FACES
 * We have left Google Web Fonts since it causes a _H U G E_ problem on Chrome on Windows.
 *********************************/
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular');
  src: url('../fonts/asap/eot/Asap-Regular.eot');
  src: url('../fonts/asap/eot/Asap-Regular.eot#iefix') format('eot'), url('../fonts/asap/svg/Asap-Regular.svg') format('svg'), url('../fonts/asap/woff/Asap-Regular.woff') format('woff'), url('../fonts/asap/ttf/Asap-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: local('Asap Bold'), local('Asap-Bold');
  src: url('../fonts/asap/eot/Asap-Bold.eot');
  src: url('../fonts/asap/eot/Asap-Bold.eot#iefix') format('eot'), url('../fonts/asap/svg/Asap-Bold.svg') format('svg'), url('../fonts/asap/woff/Asap-Bold.woff') format('woff'), url('../fonts/asap/ttf/Asap-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-weight: 400;
  src: local('Asap Italic'), local('Asap-Italic');
  src: url('../fonts/asap/eot/Asap-Italic.eot');
  src: url('../fonts/asap/eot/Asap-Italic.eot#iefix') format('eot'), url('../fonts/asap/svg/Asap-Italic.svg') format('svg'), url('../fonts/asap/woff/Asap-Italic.woff') format('woff'), url('../fonts/asap/ttf/Asap-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-weight: 700;
  src: local('Asap Bold Italic'), local('Asap-BoldItalic');
  src: url('../fonts/asap/eot/Asap-BoldItalic.eot');
  src: url('../fonts/asap/eot/Asap-BoldItalic.eot#iefix') format('eot'), url('../fonts/asap/svg/Asap-BoldItalic.svg') format('svg'), url('../fonts/asap/woff/Asap-BoldItalic.woff') format('woff'), url('../fonts/asap/ttf/Asap-BoldItalic.ttf') format('truetype');
}
/**********************************
 * 4. TYPOGRAPHY
 *********************************/
body {
  font-family: 'Asap', 'Helvetica', 'Arial', sans-serif;
}
/**********************************
 * 5. GENERAL LAYOUT
 *********************************/
body {
  background-color: #e8e8e9;
}
/*********** HEADER **************/
#main-header {
  background-color: #f4f4f4;
  color: #666666;
  padding: 0 0 10px;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
}
#main-header h1 {
  padding-top: 20px;
  font-size: 1.4em;
  margin: 0;
}
#main-header h2 {
  font-size: 0.9em;
  padding-top: 3px;
  padding-left: 2px;
  margin: 0;
}
#main-header #main-header-logo {
  margin-right: 25px;
  margin-top: 10px;
  float: left;
}
#main-header .header-box {
  padding: 5px 10px;
  background: #e8e8e9;
  line-height: 31px;
}
#main-header .header-box img {
  margin-right: 5px;
}
#main-header .header-box a {
  color: #666666;
  margin-right: 15px;
}
#main-header .header-box a:last-of-type {
  margin-right: 0;
}
#main-header .header-box a:hover {
  color: #999999;
  text-decoration: none;
}
#main-header .header-box a:hover img {
  opacity: 0.7;
}
#main-header .header-box#lang-control,
#main-header .header-box#search-header,
#main-header .header-box#header-user {
  margin-left: 3px;
}
/************ MENU ***************/
#main-nav {
  background: none;
  border: 0;
}
#main-nav img {
  margin-right: 5px;
}
#main-nav img.flag {
  height: 20px;
}
#main-nav a:hover {
  color: #ff7d00;
  border-color: #ff7d00;
}
#main-nav .navbar-brand {
  padding-left: 15px;
  padding-top: 9px;
}
#main-nav .navbar-brand.logged-out {
  padding-top: 14px;
}
/************ MAIN ***************/
.wrapper a {
  color: #cc6400;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.wrapper a:hover {
  color: #ff7d00;
}
.wrapper a.btn {
  color: #fff;
}
#main-content {
  padding: 0;
}
#main-content .main-box {
  background: #f4f4f4;
  -webkit-box-shadow: 0px 1px 3px #aaaaaa;
  -moz-box-shadow: 0px 1px 3px #aaaaaa;
  box-shadow: 0px 1px 3px #aaaaaa;
}
#main-content .main-box h1,
#main-content .main-box h2,
#main-content .main-box h3,
#main-content .main-box h4,
#main-content .main-box h5,
#main-content .main-box h6 {
  font-weight: bold;
}
#main-content .main-box.margin-top {
  margin-top: 15px;
}
#main-content .main-box h4 img {
  height: 18px;
  width: auto;
  margin-top: -3px;
}
#main-content .main-box h3 img {
  height: 24px;
  width: auto;
  margin-top: -3px;
}
#main-content .box-body {
  padding: 0 15px;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  clear: left;
}
.markdown img {
  max-width: 100%;
  margin: 15px 15px 15px 0;
  float: left;
  /* This is so ugly I can't believe it. Im so sorry. /klaes950 */
}
.markdown img[alt*=float_right] {
  float: right !important;
  margin: 15px 0 15px 15px !important;
}
/* Styles specific for the large carousel on index */
#big-carousel {
  margin-bottom: 20px;
  margin-top: -10px;
}
#big-carousel .carousel-indicators {
  bottom: 0;
}
.carousel-inner > .item > img {
  width: 100%;
  height: auto;
}
.carousel-inner .photo {
  height: 508px;
  overflow: hidden;
}
.carousel-inner .photo .blur {
  -webkit-filter: blur(5px) brightness(0.8);
  -mox-filter: blur(5px) brightness(0.8);
  filter: blur(5px) brightness(0.8);
}
.carousel-inner .photo .grayscale {
  -webkit-filter: brightness(0.8) grayscale(1);
  -mox-filter: brightness(0.8) grayscale(1);
  filter: brightness(0.8) grayscale(1);
}
.carousel-inner .photo .grayscale-blur {
  -webkit-filter: blur(5px) brightness(0.8) grayscale(1);
  -mox-filter: blur(5px) brightness(0.8) grayscale(1);
  filter: blur(5px) brightness(0.8) grayscale(1);
}
.carousel-inner .photo .image {
  background-position: center;
  background-size: cover;
  height: 513px;
}
.carousel-inner .photo a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.carousel-inner .photo a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.carousel-inner .photo .carousel-caption {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9) !important;
}
.carousel-inner .container {
  padding-bottom: 35px;
}
/************ NEWS ***************/
.news {
  margin-bottom: 20px;
}
.news h2 {
  font-size: 170%;
}
.news h2 a {
  color: #666666 !important;
}
.news h2 a:hover {
  color: #111111;
  text-decoration: none;
}
.news h2 img {
  opacity: 0.8;
}
.news h3 {
  margin: 0 0 8px;
  font-size: 110%;
  font-weight: normal !important;
  color: #666666;
}
.news p {
  padding: 5px 0 5px;
}
.news .news-image {
  padding: 0;
}
/*********** PROFILE *************/
.profile {
  padding: 15px !important;
}
.profile h3 {
  margin-top: 0;
}
/************ FORUM **************/
.forum-view h2 {
  font-size: 150%;
  margin: 15px 0 0;
}
.forum-view h3 {
  margin: 5px 0 15px;
  font-size: 100%;
  font-weight: normal !important;
}
.forum-view p:first-of-type {
  margin-top: 15px;
}
.forum-view ol.breadcrumb {
  float: right;
  padding-right: 0;
  margin: 5px 0 0;
  background: none;
}
.forum-view ol.breadcrumb a {
  color: #ccc;
}
.forum-view ol.breadcrumb a:hover {
  color: #ff7d00;
  text-decoration: none;
}
.forum-view ol.breadcrumb > li + li:before {
  color: #808080;
}
.forum-view ul.forum {
  margin: 0 -15px;
}
.forum-view ul.forum a {
  display: block;
  background-color: #333;
  text-decoration: none;
  padding: 11px 15px;
  font-size: 12pt;
  color: #ff7d00;
}
.forum-view ul.forum a:hover {
  background-color: #373737;
  color: #cc6400;
}
.forum-view ul.forum ul.forum,
.forum-view ul.topics {
  margin: 0;
}
.forum-view ul.forum ul.forum a,
.forum-view ul.topics a {
  display: block;
  padding: 8px 15px;
  background: transparent;
  color: #333 !important;
  font-size: 1.1em;
  font-weight: normal;
  border-bottom: 1px solid #dddddd;
}
.forum-view ul.forum ul.forum a:hover,
.forum-view ul.topics a:hover {
  background-color: #f7f7f7;
  color: #f57d20 !important;
}
.forum-view ul.forum ul.forum a span,
.forum-view ul.topics a span {
  font-style: Italic;
}
.forum-view ul.forum ul.forum li:nth-child(odd) a,
.forum-view ul.topics li:nth-child(odd) a {
  background-color: #eee;
}
.forum-view ul.forum ul.forum li:nth-child(odd) a:hover,
.forum-view ul.topics li:nth-child(odd) a:hover {
  background-color: #f1f1f1;
}
.forum-view ul.topics {
  margin: 0 -15px;
}
#forum-load {
  margin-top: 15px;
}
#forum-load a {
  color: #ff7d00;
}
#forum-load a:hover {
  color: #666666;
}
/************ META ***************/
.metadata {
  margin: 0 -15px;
  padding: 5px 15px;
  border-top: 1px solid #e3e3e3;
  background: #f0f0f0;
}
.metadata p {
  padding: 0;
  margin: 0 !important;
}
/************ ADMIN **************/
.admin-news-entry:hover {
  background: #f7f7f7 !important;
}
/*********** SIDEBAR *************/
#sidebar-content .main-box {
  padding: 0 15px;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 1px 3px #aaaaaa;
  -moz-box-shadow: 0px 1px 3px #aaaaaa;
  box-shadow: 0px 1px 3px #aaaaaa;
  margin: 0 0 15px;
}
#sidebar-content .main-box h2,
#sidebar-content .main-box h3,
#sidebar-content .main-box h4 {
  margin-top: 15px;
}
#sidebar-content .main-box h2 {
  font-size: 130%;
}
/*********** FOOTER **************/
#main-footer {
  border-top: 1px solid #aaaaaa;
  height: 120px;
  margin-top: 30px;
  background-color: #e8e8e9;
  /*#f4f4f4;*/
  color: #666666;
}
#main-footer h1 {
  padding: 12px 0;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
#main-footer a {
  color: #666666;
  text-decoration: none;
  line-height: 160%;
}
#main-footer a:hover {
  color: #ff7d00;
}
#main-footer #follow {
  margin-bottom: 10px;
}
#main-footer #follow h1 {
  padding-bottom: 6px;
}
#main-footer #follow a {
  display: block;
  margin-right: 15px;
  float: left;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: #dcdcdc center center no-repeat;
}
#main-footer #follow a.twitter {
  background-image: url('../img/twitter.png');
}
#main-footer #follow a.facebook {
  background-image: url('../img/facebook.png');
}
#main-footer #follow a.linkedin {
  background-image: url('../img/linkedin.png');
}
#main-footer #follow a:hover {
  background-color: #c0c0c0;
}
/**********************************
 * 6. RESPONSIVE
 * As of Bootstrap version 3.1.1, it's made with the thinking that mobile devices are default,
 * and everything else an exception: "No media query since this is the default in Bootstrap"
 *********************************/
/* Despite thie nice mobile first approach, here's some needed fixes */
@media (max-width: 992px) {
  ul.box-list li span {
    float: none !important;
    margin-left: 6px;
  }
  .forum-view .topics li a {
    font-weight: bold !important;
  }
  .forum-view .topics li a span {
    font-weight: normal;
    float: none !important;
  }
  .markdown img {
    width: 100%;
    height: auto;
    float: none;
  }
  .forum-reply .report {
    display: block;
    margin-top: 3px;
  }
  .group-member:nth-child(odd) {
    clear: left;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #main-header h1 {
    padding-top: 35px;
  }
  /* fix for the ugly navigation padding on desktop */
  #main-nav {
    margin-left: -15px;
  }
  #main-nav a {
    padding-bottom: 5px;
    border-bottom: 2px solid #e8e8e9;
    text-decoration: none;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
  }
  #main-nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  #main-nav .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  #main-nav .open > a {
    background: transparent;
    color: #000;
  }
  #main-nav .open > .dropdown-menu {
    padding: 0;
  }
  #main-nav .open > .dropdown-menu a {
    border-bottom: 0;
    border-left: 2px solid #e8e8e9;
    padding: 7px 13px;
  }
  #main-nav .open > .dropdown-menu a:hover {
    border-left: 2px solid #ff7d00;
  }
  .forum-reply .report {
    line-height: 30px;
    float: right;
    opacity: 0;
  }
  .forum-reply:hover .report {
    opacity: 1;
  }
  .group-member {
    text-align: center;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/**********************************
 * 9. MISC
 *********************************/
.darkbg {
  background: #555555;
  background: -webkit-radial-gradient(center, ellipse cover, #555555 0%, #222222 100%);
  background: -moz-radial-gradient(center, ellipse cover, #555555 0%, #222222 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -o-radial-gradient(center, ellipse cover, #555555 0%, #222222 100%);
  background: -ms-radial-gradient(center, ellipse cover, #555555 0%, #222222 100%);
  background: radial-gradient(ellipse at center, #555555 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@inner', endColorstr='@outer', GradientType=1);
  color: #e8e8e9;
}
.bigmargin {
  margin: 15px 0 !important;
}
code {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
ul.box-list {
  list-style: none;
  font-size: 0.90em;
  margin: 0 -15px 0;
}
ul.box-list li {
  padding: 10px 15px;
  color: #666666;
}
ul.box-list li a {
  display: block;
  padding: 0;
  margin: 0;
  color: #666666;
  text-decoration: none;
}
ul.box-list li a:hover {
  color: #ff7d00;
}
ul.box-list li span {
  float: right;
}
ul.box-list li:nth-child(odd) {
  background-color: #eee;
}
ul.box-list li:nth-child(odd):hover {
  background-color: #f0f0f0;
}
ul.box-list li:nth-child(even):hover {
  background-color: #f7f7f7;
}
.pagination li.active a {
  background: #a6a6a6;
  border-color: #a6a6a6;
}
.pagination li.active a:hover {
  background: #c0c0c0;
  border-color: #c0c0c0;
}
.pagination li a {
  color: #ff7d00;
}
.pagination li a:hover {
  color: #cc6400;
}
#main-content label.checkbox-inline {
  margin-bottom: 3px;
  margin-top: 2px;
}
#documents-dropzone.dropzone {
  position: relative;
  min-height: 200px;
  border-radius: 0;
  border: 0;
  padding: 0;
  background: inherit;
}
#documents-dropzone.dropzone .dz-message {
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-height: 200px;
  background: rgba(0, 0, 0, 0.03);
  padding: 15px;
  margin: 15px -15px 0;
}
#documents-dropzone.dropzone .dz-preview {
  background: inherit;
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0;
  display: block;
}
i.-icon-document {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  background: url("../img/icons/linedpaper32.png");
  background-size: cover;
  display: block;
}
.main-box ul.document-list {
  padding: 0 0 0 0;
}
.main-box ul.document-list a {
  text-decoration: none;
  color: #111;
  display: block;
}
.main-box ul.document-list a:hover {
  color: #f57d20;
}
.main-box ul.document-list li {
  margin-top: 3px;
  margin-right: 5px;
}
.main-box ul.document-list li:nth-child(odd) {
  background-color: #eee;
}
.main-box ul.document-list li:nth-child(odd):hover {
  background-color: #f0f0f0;
}
.main-box ul.document-list li:nth-child(even):hover {
  background-color: #f7f7f7;
}
.main-box ul.document-list li.document {
  padding: 5px 10px;
}
.main-box ul.document-list li.document h4 {
  font-weight: normal;
  font-size: 11pt;
  margin-bottom: 0;
}
.main-box ul.document-list li.document small {
  font-size: 10pt;
}
a.inline {
  display: inline !important;
}
.profile-news {
  margin: 0 -15px;
}
.profile-news .entry {
  padding: 5px 15px;
  color: #666666;
}
.profile-news .entry:nth-child(odd) {
  background-color: #eee;
}
.profile-news .entry:nth-child(odd):hover {
  background-color: #f0f0f0;
}
.profile-news .entry:nth-child(even):hover {
  background-color: #f7f7f7;
}
.centered {
  text-align: center;
  float: none;
  margin: 0 auto;
}
